.span8{
    margin-top: 20px;
    min-width: 35%;
}
.tips-quick-answers{
    /*border: 1px solid rgba(0, 0, 0, 0.05);*/
    /*background-color: #f5f5f5;*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: -20%;

}

.span-tips-options{
    margin-top: 20px;
    width: 30%;
}

.quick-answers{
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #f5f5f5;
    height: 250px;
    border-radius: 5px;


}

.tips{
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #f5f5f5;
    height: 250px;
    border-radius: 5px;
    margin-top: 20px;
}
.quick-answers-header{
    display: flex;
    flex-direction: row;
}
.h6-quick-answers{
    font-size: small ;
    color:black;
    margin-top: 10px;
}
.button-lists{
    display: flex;
    flex-direction: column;
}
.btn{
    margin: 5% 10%;
}

.hint-icon {
    width: 35px;
    height: 35px;

}
.h6-tips{
    font-size: small ;
    color:black;
    margin-top:10px;
}
.font-weight-bold{
    font-weight: bold;
}