.react-chatbot-kit-chat-container {
  position: relative;
  width: 275px;
}

.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #2898ec;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  padding: 6px;
  font-weight: bold;
}
.react-chatbot-kit-chat-bot-avatar-icon-header {
  margin-right: 12.5px;
  /*margin-left: -8px ;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 5px;

}

.react-chatbot-kit-chat-bot-avatar-help-icon-header {
  margin-left: 70% ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  cursor: pointer;
}

.react-chatbot-kit-admin-panel {
  height:20px;
  cursor: pointer;
}

.bn632-hover {
  width: 82px;
  font-size: 0.65rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(
          to right,
          #fc6076,
          #ff9a44,
          #ef9d43,
          #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2898ec;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
}

.bn-margin-left {
  margin-left: 45%;
}

