.bn633-hover {
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 8px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn633-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn633-hover:focus {
    outline: none;
}

.bn633-hover.bn28 {
    background-image: linear-gradient(
            to right,
            #30dd8a,
            #3cba92,
            #30dd8a,
            #3cba92
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}