@media (min-width: 768px) {
    .container-fluid {
        width: 80%
    }
}
.row-fluid{
    display: flex;
    flex-direction: row;

}
.container-fluid{
    margin-right: auto;
    margin-left: auto;

}
.span6{
    margin-top: 20px;
}