
.learning-options-container {
 display: flex;
 align-items: flex-start;
 flex-wrap: wrap;
 flex-direction:column;

}

.learning-option-button {

    height: 50px;
    width: 20%;
    display:block;
    margin: 8% auto;

}