*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #FFFF
}

.header .auth{
    float: right;
}
.header .auth ul li{
    float: left;
    margin-right: 70px;
    margin-top: 12px;
    list-style: none;
}

/*----------------------------------------*/
/*---------------banner design---------------*/
.content{
    width: 1280px;
    margin: 25px auto;
}
.content .menu .menu_title{
    /*border-bottom: 1px solid black;*/
    /*padding-bottom: 20px;*/
    width: 500px;
    text-align: center;
    font-size: 25px;
    color: black;
    margin-left: 5px;
}
/*image distance*/
.content .banner .banner_table{
    margin-top: 20px;
    /*width:10px;*/
    border-bottom:2px solid #ccc;
    /*-webkit-box-shadow: 0 0 5px 3px #ccc; !*google browser*!*/
    /*-moz-box-shadow: 0 0 5px 3px #ccc; !*fox browser*!*/

    /*display: inline-block;*/

}
.content .banner .banner_table h4{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 5px;
}
.content .banner .banner_table h5{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;

}

/*---------------S2R---------------*/
/*display images horizontally*/
.content .img_content ul{
    width: 1360px;

}
.content .img_content ul li_OB{
    width: 500px;  /*360*3+120*/
    float: left;
    list-style: none;
    background-color: #FFFF;

    /*border*/
    height:300px;
    margin: 30px 60px 30px 0;
    -webkit-box-shadow: 0 0 5px 3px #ccc; /*google browser*/
    -moz-box-shadow: 0 0 5px 3px #ccc; /*fox browser*/
}
.content .img_content ul li_EB{
    width: 500px;  /*360*3+120*/
    float: left;
    list-style: none;
    background-color: #FFFF;

    /*border*/
    height: 300px;
    margin: 30px 60px 30px 25px;
    -webkit-box-shadow: 0 0 5px 3px #ccc; /*google browser*/
    -moz-box-shadow: 0 0 5px 3px #ccc; /*fox browser*/
}


.content .img_content ul li_S2R{
    width: 200px;  /*360*3+120*/
    float: left;
    list-style: none;
    background-color: #FFFF;

    /*border*/
    height: 350px;
    margin: 30px 60px 30px 0;
    -webkit-box-shadow: 0 0 5px 3px #ccc; /*google browser*/
    -moz-box-shadow: 0 0 5px 3px #ccc; /*fox browser*/
}

.content .img_content {
    color: black;
    /*margin-top: 5px;*/
    /*margin-left: 10px;*/
    /*margin-bottom: 10px;*/
}
.content .img_content h6{
    font-size: 20px;
    color: black;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
}
.ob_eb_small_img{
    /*width:50px;*/
    height:215px;
    margin-left: 190px;
    margin-top: 15px;
}

.small_img{
    /*width:50px;*/
    height:215px;
    margin-left: 40px;
    margin-top: 10px;
}
.big_img {
    cursor: pointer;
}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.big_img {
    display: none;
    position: absolute;
    width: 400px;
    height: 800px;
    /*left: 50%;*/
    /*top: 50%;*/
    margin: -60px 0px 0px -60px;
    z-index:1002;
    overflow: auto;
}

.img_bookmark{
    font-size: 20px;
    width:15px;
    height:15px;
    margin-left: 80px;
    /*margin-top:5px;*/
}
.content .img_content .info{
    margin-top: 1px;
    font-size: 15px;

}


.content .img_content .info p{
    /*font-size: 20px;*/
    line-height: 20px;
    width:180px;
    margin-left: 10px;

}
.content .img_content .ob_eb_info p{
    font-size: 15px;
    line-height: 20px;

    width:400px;
    margin-left: 60px;


}

/*-------------------------footer-------------------------*/
.footer{
    width: 1200px;
    height: 100px;
    margin: 60px auto;
    /*加一条上边框分割线*/
    border-top:1px solid #ccc;
    overflow: hidden;
}
.footer p{
    text-align: center;
    line-height: 80px;
}
.footer p span{
    color: #ff1490;
}


