.react-chatbot-kit-chat-container {
    position: relative;
    width: 375px;
}
.react-chatbot-kit-chat-message-container {
    height: 650px;
}
.react-chatbot-kit-chat-inner-container {
    position: center;
    height: 700px;}
.react-chatbot-kit-chat-bot-message {
    margin-left: initial;
    text-align: initial;
}